body {
  font-size: 1em;
  min-width: 320px;
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

section,
div,
a,
p,
h1,
text {
  padding: 0;
  margin: 0;
}

header {
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

header .logo {
  max-width: 50px;
}

header .mnu_top {
  list-style-type: none;
}

header .mnu_top li {
  display: inline-block;
  margin-right: 30px;
}

header .mnu_top li a {
  display: block;
  text-decoration: none;
  color: #989696;
  font-family: "Roboto", sans-serif;
  transition: color 0.1s linear;
}

header .mnu_top li a:hover {
  color: #686666;
}

#main_banner {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: calc(100% - 51px);
}
#main_banner .container {
  max-width: 50%;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 40px;
  color: #1d1e1f;
  margin: 0;
}

p {
  font-family: "Merriweather", serif;
  color: #989696;
  font-style: italic;
  font-size: 15px;
}

#main_banner p {
  padding-bottom: 20px;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 15px 40px;
  border: 1px #1d1d1d solid;
  font-size: 10px;
  font-weight: 600;
}

.button a,
a:visited {
  display: block;
  text-decoration: none;
  color: #1d1e1f;
  transition: opacity 0.1s linear;
}

.button:hover {
  color: #fff;
  background-color: #1d1e1f;
}

.button:hover:after {
  opacity: 1;
}

.round {
  position: absolute;
  bottom: 10%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f0f0f0;
}

.round.darker {
  background-color: #e0e0e0;
  bottom: 7%;
}

.round.darkest {
  background-color: #d0d0d0;
  bottom: 4%;
}

#growth {
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  position: relative;
}

.bg_line {
  position: absolute;
  background-color: #ffffff;
  width: 3px;
  height: 100%;
  margin: 0 auto;
  left: 50%;
  margin-left: -1px;
}

.bg_bubble {
  position: absolute;
  background-color: #1d1d1d;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: 0 auto;
  left: 50%;
  margin-left: -10px;
  top: 15%;
}

.bg_bubble.bub2 {
  top: 30%;
}

.bg_bubble.big_bub3 {
  top: 50%;
  width: 25px;
  height: 25px;
  margin-left: -15px;
}

.bg_bubble.bub4 {
  top: 70%;
}

.phase {
  width: 36%;
  position: absolute;
  top: 15%;
}

.phase.ph1 {
  text-align: right;
  left: 10%;
}

.phase.ph2 {
  top: 30%;
  right: 10%;
}

.phase.ph3 {
  top: 50%;
  text-align: right;
  left: 10%;
}

.phase.ph4 {
  top: 70%;
  right: 10%;
}

.year {
  color: #fefefe;
  font-size: 32px;
  padding-bottom: 10px;
}

.year.right {
  text-align: right;
}

.event {
  color: #757575;
}

.filler {
  width: 100%;
  height: 30%;
  background-color: #1d1d1d;
  position: relative;
  top: -2px;
}

.filler img {
  width: 100%;
  object-fit: cover;
  max-width: none;
}

.back_town {
  position: absolute;
  bottom: -1%;
}

.back_town.init {
  right: 6.6%;
}

.back_town.shade {
  bottom: 5%;
  right: 11%;
}

#team {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
}

.team.header {
  width: 30%;
  margin: 0 auto;
  padding-top: 3%;
  text-align: center;
}

.cards {
  width: 28%;
  text-align: center;
}

.cards h1 {
  font-size: 20px;
  font-weight: 300;
}

.pic {
  margin-bottom: 20px;
  filter: grayscale(100%);
}

.card {
  position: absolute;
  width: 20%;
}

.card.low.m1 {
  left: 15%;
  top: 50%;
}

.card.high {
  top: 30%;
  left: 40%;
}

.card.low.m2 {
  left: 40%;
  top: 50%;
}

.card.low.m3 {
  right: 15%;
  top: 50%;
}

.triangle {
  position: absolute;
  bottom: -1px;
}

#services {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  background-color: #1d1d1d;
}

#services h1 {
  color: #fff;
}

.services.header {
  width: 40%;
  margin: 0 auto;
  padding-top: 7%;
  text-align: center;
}

.ellipse {
  width: 20%;
  height: 20%;
}

#filler {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 20%;
  background-color: #1d1d1d;
  top: -1px;
  position: relative;
}

.button.f {
  background: #fff;
  z-index: 2;
}

.button.f a,
a:visited {
  display: block;
  text-decoration: none;
  color: #1d1d1d;
  transition: opacity 0.1s linear;
}

.button.f:hover {
  color: #fff;
  background-color: #1d1d1d;
  border: 1px #fff solid;
}

.button.f:hover:after {
  opacity: 1;
}

#contact_us {
  height: 100%;
}

.navigation {
  width: 40%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  position: relative;
  padding-top: 5%;
}

.navigation h1 {
  padding-bottom: 7px;
}

.contact_form {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.form_inner {
  padding: 50px;
}

.form_inner input,
.form_inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #fff;
  border: 0.5px #1d1d1d solid;
  line-height: 40px;
  font-family: "Roboto", sans-serif;
}

.form_inner input[type="submit"] {
  margin-top: 20px;
  background: #1d1d1d;
  color: white;
  font-size: 14px;
}

.form_inner input[type="submit"]:hover {
  background-color: #fff;
  color: #1d1d1d;
  border: 0.5px #1d1d1d solid;
}

.form_inner input[type="submit"]:hover:after {
  opacity: 1;
}

.form_inner input[type="submit"] a {
  display: block;
  text-decoration: none;
  color: #1d1d1d;
  transition: opacity 0.1s linear;
}

.form_inner textarea {
  resize: none;
}

.copyright {
  margin: 10px auto;
  text-align: center;
}
