<html>
  <head>
    <title>Online Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@200;300;400;500;600&family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <ul class="mnu_top">
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Team</a></li>
      </ul>
      <a href="/" class="logo">
        <img src="../static/images/logo.svg" alt="" />
      </a>
      <ul class="mnu_top">
        <li><a href="#">Services</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </header>
    <section id="main_banner">
      <div class="container">
        <h1>We build it with passion</h1>
        <p>Just to be clear, we do this for fun not for you, just kidding</p>
        <a href="#" class="button">Read more</a>
      </div>
    </section>
    <!--
      <script src="../static/js/main.js"></script>
    -->
  </body>
</html>
