<html>
  <head>
    <title>Online Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@200;300;400;500;600&family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <ul class="mnu_top">
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Team</a></li>
      </ul>
      <a href="#" class="logo">
        <img src="../static/images/logo.svg" alt="" />
      </a>
      <ul class="mnu_top">
        <li><a href="#">Services</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </header>
    <section id="main_banner">
      <div class="container">
        <h1>We build it with passion</h1>
        <p>Just to be clear, we do this for fun not for you, just kidding</p>
        <a href="#" class="button">Read more</a>
      </div>
      <div class="round"></div>
      <div class="round darker"></div>
      <div class="round darkest"></div>
    </section>

    <section id="growth">
      <div class="bg_line"></div>
      <div class="bg_bubble bub1"></div>
      <div class="bg_bubble bub2"></div>
      <div class="bg_bubble big_bub3"></div>
      <div class="bg_bubble bub4"></div>
      <div class="phase ph1">
        <div class="year right">2011</div>
        <div class="event">
          Lorem ipsum dolor sit amet, consectetur adipiselit. Vivamus varius nec
          diam vitae hendrerit bigus mit.
        </div>
      </div>
      <div class="phase ph2">
        <div class="year left">2012</div>
        <div class="event">
          Lorem ipsum dolor sit amet, consectetur adipiselit. Vivamus varius nec
          diam vitae hendrerit bigus mit. Begitus vit urna nulla.
        </div>
      </div>
      <div class="phase ph3">
        <div class="year right">2013</div>
        <div class="event">
          Sed at auctor sem, nec tincidunt elit. Pellentesque enim turpis,
          porttitor ac orci in, ultrices efficitur nisl. Ut odio libero, sodales
          a tellus eleifend, suscipit dapibus mi.
        </div>
      </div>
      <div class="phase ph4">
        <div class="year left">2014</div>
        <div class="event">
          Lorem ipsum dolor sit amet, consectetur adipiselit. Vivamus varius nec
          diam vitae hendrerit bigus mit. Begitus vit urna nulla.
        </div>
      </div>
    </section>

    <div class="filler">
      <div class="bg_line"></div>
      <div class="back_town shade">
        <img src="../static/images/buildings_black.svg" alt="" />
      </div>
      <div class="back_town init">
        <img src="../static/images/buildings_white.svg" alt="" />
      </div>
    </div>

    <section id="team">
      <div class="team header">
        <h1>This is our team</h1>
        <p>We are small but effective and ...</p>
      </div>

      <div class="cards">
        <div class="card low m1">
          <div class="pic">
            <img src="../static/images/photo1.svg" alt="" />
          </div>
          <h1>Mark Once</h1>
          <p>Designer & Front-end developer</p>
          <div class="socials">
            <a href="#" class="instagram"
              ><img src="../static/images/instagram.svg" alt=""
            /></a>
            <a href="#" class="twitter"
              ><img src="../static/images/twitter.svg" alt=""
            /></a>
          </div>
        </div>
        <div class="card high">
          <div class="pic">
            <img src="../static/images/photo2.svg" alt="" />
          </div>
          <h1>Justin Twice</h1>
          <p>Founder & CEO</p>
          <div class="socials">
            <a href="#" class="instagram"
              ><img src="../static/images/instagram.svg" alt=""
            /></a>
            <a href="#" class="twitter"
              ><img src="../static/images/twitter.svg" alt=""
            /></a>
          </div>
        </div>
        <div class="card low m3">
          <div class="pic">
            <img src="../static/images/photo3.svg" alt="" />
          </div>
          <h1>Antonio Never</h1>
          <p>Someone & Somewhere</p>
          <div class="socials"></div>
            <a href="#" class="instagram"
              ><img src="../static/images/instagram.svg" alt=""
            /></a>
            <a href="#" class="twitter"
              ><img src="../static/images/twitter.svg" alt=""
            /></a>
          </div>
        </div>
      </div>
      <div class="triangle"><img src="../static/images/triangle_black.png" alt=""></div>
    </section>

    <section id="services">
      <div class="services header">
        <h1>We provide you everything</h1>
        <p>Maybe not everything, but we provide you some stuff.</p>
      </div>

      <div class="cards">
        <div class="card low m1">
          <div class="pic">
            <img src="../static/images/analityc.svg" alt="" />
          </div>
          <h1>Some Analytics</h1>
          <p>Aenean nisi lectus, convallis non lorem sit amet, rhoncus malesuada justo</p>
        </div>
        <div class="card low m2">
          <div class="pic">
            <img src="../static/images/heart.svg" alt="" />
          </div>
          <h1>We provide you love</h1>
          <p>Aenean nisi lectus, convallis non lorem sit amet, rhoncus malesuada justo</p>
        </div>
        <div class="card low m3">
          <div class="pic">
            <img src="../static/images/cloud.svg" alt="" />
          </div>
          <h1>And Some Cloud</h1>
          <p>Aenean nisi lectus, convallis non lorem sit amet, rhoncus malesuada justo</p>
        </div>
    </div>
    </section>
   
    <section id="filler">
      <a href="#" class="button f">Visit our blog</a>
      <div class="triangle"><img src="../static/images/triangle_white.png" alt=""></div>
    </section>

    <section id="contact_us">
      <div class="team header">
        <h1>Contact Us</h1>
        <p>We know what we need to do</p>
      </div>
      <div class="navigation">
        <div class="nav n1">
          <h1><img src="../static/images/phone.svg" alt=""></h1>
          <p>555-222-333</p>
        </div>
        <div class="nav n2">
          <h1><img src="../static/images/geo.svg" alt=""></h1>
          <p>Here is some address</p>
        </div>
        <div class="nav n3">
          <h1><img src="../static/images/email.svg" alt=""></h1>
          <p>somemail@hotmail.com</p>
        </div>
      </div>
      
      <div class="contact_form">
        <div class="form_inner">
          <input type="text" placeholder="Full Name">
          <input type="email" placeholder="Email">
          <input type="tel" placeholder="Tel">
          <textarea placeholder="Write your message here..." rows="3"></textarea>
          <input type="submit" value="Send">
        </div>
      </div>
      <div class="copyright">
        <p>Copyright &copy; Kenan Hamidic. All rights reserved.</p>
      </div>
    </section>

  </body>
</html>
